<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/test.css">
        <title>
            Task 3 with WEB
        </title>
    </head>
    <body>
        <h3>
            App
        </h3>
        <p>
            Let's calculate the real time of the lesson.<br>
            Enter your data(No spaces, only commas):<br>
            <form action="/appearance" method="post">
                Lesson: <input type="text" name="lesson">  
                Tutor : <input type="text" name="tutor">  
                Pupil: <input type="text" name="pupil" /> <br />
                <input type="submit" name= "form" value="Submit" />
            </form>
        </p>
    </body>
</html>